This is some text<!DOCTYPE>
<html>
	<head>
		<title>Fuck nuts | Ass balls</title>
	</head>
	<body>
		<h1>Pages#home</h1>
		<p>Find me in app/views/pages/home.html.erb</p>
		<p>fart!!</p>
	</body>
</html>